.home{
    margin: 120px 0;
}




/*nuevo del proyecto viejo*/

.titulo h2{
    text-align: center;
    color: rgb(108, 108, 108);
    margin-bottom: 50px;
}

.formulario{
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(228, 228, 228);
}


.componentesFormulario{

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    margin-bottom: 25px;
}

.componentesFormulario label{
    margin-bottom: 10px;
    color: rgb(76, 76, 76);
}






form p {
    margin-right: 50px;
     margin-bottom: 50px;
}

    

input{
    border-radius: 5px;
    margin-top: 7px;
    border-color: transparent;
    outline: 2px solid #088cff;
    width: 180px; 
} 

input:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


   
 
.botonRegistrar{
    background-color: #088cff;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border-color: transparent;
    margin-top: 25px;
    width: 150px;
}



@media all and (max-width:530px){

    form{
        flex-direction: column;
    }

    input{
       margin-bottom: 10px;
    }
    form p {
        margin-bottom: 20px;
    }

}  




/*registar motocicleta*/
.actualizarComponentesFormulario{
    
}

